# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Environment
backend/.env

# Supervisor
*.pid
*.pid.lock
.env

# Docker volumes
/tmp/

# Logs
*.log
